{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Mail{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'mail/styles.css' %}">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div class="page">
            <main>
                <div class="nav">
                    <div class="nav-elements">
                        <span class="open">Menu</span>
                        <span><a id="inbox" href="#">Inbox</a></span>
                        <span><a id="compose" href="#">Compose</a></span>
                        <span><a id="sent" href="#">Sent</a></span>
                        <span><a id="archived" href="#">Archived</a></span>
                        <span><a id="log-out" href="{% url 'logout' %}">Log Out</a></span>
                    </div>
                </div>
                <div class="mailbox-wrapper">
                    {% block body %}
                    {% endblock %}
                </div>
            </main>
            <div class="greeting">
                <div class="greeting-content">
                    <span class="hello">Hello,</span>
                    <span class="username"><span class="username-text">test@gmail.com</span></span>
                    <span class="have-a-nice">Have a nice, <span class="have-a-nice object">_</span></span>
                </div>
            </div>
        </div>
    </body>
</html>